.page-mint {
  min-height: 100vh;
  &__mobile__container {
    display: none;

    @media only screen and (max-width: 1000px) {
      display: block;
    }

    position: relative;
    color: white;

    &__bg {
      width: 100%;
    }

    &__gif {
      position: absolute;
      top: 26.5%;
      left: 23%;
      right: 23%;
      bottom: 60%;
      font-size: 16px;
      color: white;
      font-family: RelishGargler;
      background-color: #ff000050;

      img {
        width: 100%;
      }
    }

    &__connect-btn {
      position: absolute;
      top: 12.5%;
      left: 31%;
      right: 31%;
      bottom: 84%;
      font-size: 16px;
      color: white;
      font-family: RelishGargler;
    }

    &__premium-sale {
      position: absolute;
      top: 55.5%;
      left: 37%;
      right: 37%;
      bottom: 39.5%;
      font-size: 14px;
      color: #8beffe;
    }

    &__connected-to-ethereum {
      position: absolute;
      top: 63%;
      left: 28%;
      right: 28%;
      bottom: 35.5%;
      font-size: 11px;
      color: white;
    }

    &__price {
      position: absolute;
      top: 66.5%;
      left: 31%;
      right: 31%;
      bottom: 28.5%;
      font-size: 16px;
      color: white;
    }

    &__id {
      position: absolute;
      top: 73.5%;
      left: 40%;
      right: 40%;
      bottom: 21.5%;
      font-size: 16px;
      color: white;
    }

    &__mint-btn {
      position: absolute;
      top: 80%;
      left: 34%;
      right: 34%;
      bottom: 13%;
      font-size: 16px;
      color: white;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__desktop__container {
    position: relative;
    color: white;
    display: block;

    @media only screen and (max-width: 1000px) {
      display: none;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &__bg {
      width: 100%;
    }

    &__connect-btn {
      position: absolute;
      left: 37%;
      right: 37%;
      bottom: 87%;
      top: 8%;
      font-size: 22px;
      gap: 24px;
      cursor: pointer;

      &:hover {
        text-shadow: 0px 0px 10px white;
      }
    }

    &__footer-left {
      position: absolute;
      left: 7%;
      right: 80.5%;
      bottom: 22%;
      top: 62%;
      font-size: 22px;
      gap: 24px;
      text-shadow: 0px 0px 5px blue;
    }

    &__footer-right {
      position: absolute;
      left: 80.5%;
      right: 7%;
      bottom: 22%;
      top: 62%;
      font-size: 22px;
      gap: 24px;
      text-shadow: 0px 0px 5px blue;
    }

    &__footer-center-1 {
      position: absolute;
      left: 34%;
      right: 34%;
      bottom: 43%;
      top: 52.5%;
      font-size: 36px;
      font-family: RelishGargler;
      text-shadow: 0px 0px 10px black;
    }

    &__footer-center-2 {
      position: absolute;
      left: 39%;
      right: 39%;
      bottom: 37.7%;
      top: 60.7%;
      font-size: 13px;
    }

    &__footer-center-3 {
      position: absolute;
      left: 39%;
      right: 39%;
      bottom: 32.5%;
      top: 63.5%;
      font-size: 28px;
    }

    &__footer-center-4 {
      position: absolute;
      left: 40%;
      right: 40%;
      bottom: 27.5%;
      top: 69%;
      font-size: 28px;
    }

    &__footer-center-5 {
      position: absolute;
      left: 43%;
      right: 43%;
      bottom: 23%;
      top: 73.8%;
      font-size: 28px;
    }

    &__footer-center-6 {
      position: absolute;
      left: 43%;
      right: 43%;
      bottom: 17%;
      top: 79.5%;
      font-size: 40px;
      cursor: pointer;
      &:hover {
        text-shadow: 0px 0px 10px white;
      }
    }
  }
}
