body {
  margin: 0px;
  overscroll-behavior-y: none;
}

img {
  margin: 0px;
  padding: 0px;
  display: block;
}

video {
  display: block;
}

.footer {
  position: relative;
  margin-top: -300px;

  @media only screen and (max-width: 800px) {
    margin-top: -100px;
  }
  &__bg {
    width: 100%;
  }

  &__social-icons {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

    a {
      height: 50px;
      width: 50px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &__social-1 {
      background-image: url("../../assets/images/social-1.png");
    }

    &__social-2 {
      background-image: url("../../assets/images/social-2.png");
    }

    &__social-3 {
      background-image: url("../../assets/images/social-3.png");
    }

    &__social-4 {
      background-image: url("../../assets/images/social-4.png");
    }

    &__social-5 {
      background-image: url("../../assets/images/social-4.png");
    }
  }
}
